{% do headLink().prependStylesheet(assetUrl('css/iiif-storage.css', 'IIIFStorage')) %}

<div class="iiif-storage-manifest-snippet">
    <h3>
        <a class="iiif-storage-manifest-snippet__link" href="{{ router.manifest(manifest, collection) }}">
            {{ manifest.getLabel() }}
        </a>
    </h3>
    <div class="iiif-storage-manifest-snippet__thumbnail-count">
        {{ totalCanvases }} images
    </div>
    <div class="iiif-storage-manifest-snippet__thumbnail-list">
        {% for canvas in manifest.getCanvases()[:6] %}
            <a href="{{ router.canvas(canvas, manifest, collection) }}">
                <div class="iiif-storage-manifest-snippet__thumbnail">
                    <img src="{{ canvas.getThumbnail() }}" alt="{{ manifest.getLabel() }} thumbnail"/>
                </div>
            </a>
        {% endfor %}
    </div>

    <a class="iiif-storage-manifest-snippet__button" href="{{ router.manifest(manifest, collection) }}">
        {{ translate('View all images') }}
    </a>
</div>
