{% do form.setAttribute('action', url('admin/import-annotation-process')) %}
{% do form.prepare() %}

{{ pageTitle(translate('Import Annotation')) }}

{{ form().openTag(form) | raw }}

<fieldset id='page-actions'>
    <button type="submit">{{ translate('Save') }}</button>
</fieldset>
{% if(error) %}
    <div class="messages error">
        <p>{{ error }}</p>
    </div>
{% endif %}

{{ formCollection(form, false) }}

{{ form().closeTag(form) | raw }}
