{% set theForm = form.prepare() %}
{% set sectionNavs = {'user-information': translate('User information'), 'change-password': translate('Password')} %}

{% if(messages) %}
    <ul>
        {% for messageList in messages %}
            {% for message in messageList %}
                <li>{{ message }}</li>
            {% endfor %}
        {% endfor %}
    </ul>
{% endif %}


{{ trigger('view.edit.before') }}
{{ form().openTag(form) | raw }}

<h1>{{ pageTitle(translate('Edit my profile')) | raw }}</h1>

    <div class="c-dig-grid c-form">
        <div class="c-dig-grid__col--6">
            {{ trigger('view.edit.form.before', {'form': form }) }}
            <fieldset id="user-information" class="section active">
                <legend class="h2">{{ translate('User information') }}</legend>
                {{ formCollection(form.get('user-information'), false) }}
            </fieldset>
            <br/>
            <fieldset id="change-password" class="section">
                <legend class="h2">{{ translate('Change password') }}</legend>
                <p>{{ translate('If you would like to change your password please enter a new password here, otherwise leave blank.') }}</p>
                {{ formCollection(form.get('change-password'), false) }}
            </fieldset>

            {{ trigger('view.edit.form.after', {'form': form }) }}
            <br/>

            <div id="page-actions">
                <button type="submit" class="c-button c-button--primary">{{ translate('Save') }}</button>
            </div>

        </div>
        {% if(manifest.statistics|length > 0) %}
            <div class="c-dig-grid__col--6  c-dig-grid__col--last">
                <h2>Your statistics</h2>
                <div class="c-statistics">
                    {% for statistic in manifest.statistics %}
                        <dl class="c-statistic c-statistic--xl">
                            <dt>{{ statistic.label }}</dt>
                            <dd>{{ statistic.value }}</dd>
                        </dl>
                    {% endfor %}
                </div>
            </div>
        {% endif %}
    </div>
    {{ form().closeTag()| raw }}
    {{ trigger('view.edit.after') }}


   {%  if collection.getManifests() %}
       <div class="c-divider"></div>
       <h2 class="h2">{{ translate('Your saved Images') }}</h2>
       <div class="c-statistics  ">
           <dl class="c-statistic c-statistic--sm ">
               <dt>{{ translate('Collections') }}</dt>
               <dd>3</dd>
           </dl>
           <dl class="c-statistic c-statistic--sm ">
               <dt>{{ translate('Images') }}</dt>
               <dd>289</dd>
           </dl>
       </div>
       <div class="c-dig-grid c-dig-grid--md">

           {% for userCollection in collection.getManifests() %}

               <div class="c-dig-grid__col--6">
                   <div class="c-thumbnail c-thumbnail--sm">
                       <a href="{{ url('site/iiif-view-manifest-view', { manifest: userCollection.omekaId }, true) }}">
                           {% for thumbnail in userCollection.getThumbnails()[:1] %}
                               <img src="{{ thumbnail }}" height="400"/>
                           {% endfor %}
                       </a>
                   </div>
                   <p>
                       <a href="{{ url('site/iiif-view-manifest-view', { manifest: userCollection.omekaId }, true) }}">
                           {{ userCollection.getLabel() }}
                       </a>  by
                       <a href="view_profile.html">{{ userCollection.getUser() }}</a>  {#<span class="muted">added {{ userCollection.created()|time_elapsed_string }}</span>#}
                   </p>
                   <p class="muted">
                       {{ userCollection.getThumbnails() |length }} {{ translate('images') }}

                       {# TO BE ADDED BY ELUCIDATE #}
                       {% if(userCollection.totalViews) %}
                           ,{{ userCollection.totalViews }} {{ translate('views') }}
                       {% endif %}

                       {# TO BE ADDED BY ELUCIDATE #}
                       {% if(userCollection.totalDiscussions) %}
                           ,{{ userCollection.totalDiscussions }} {{ translate('discussions') }}
                       {% endif %}
                   </p>
               </div>

           {% endfor %}







       </div>
   {% endif %}


    {%  if manifest.getCanvases() %}
        <div class="c-divider"></div>
        <h2 class="h2">{{ translate('Your annotated images') }}</h2>
        <div class="c-statistics  ">
            <dl class="c-statistic c-statistic--sm ">
                <dt>{{ translate('Images') }}</dt>
                <dd>78</dd>
            </dl>
        </div>
        <div class="c-dig-grid ">




            {% for canvas in manifest.getCanvases() %}




                <div class="c-dig-grid__col--3">
                    <div class="c-thumbnail c-thumbnail--sm">
                        {% if(canvas.omekaId) %}
                            <a href="{{ url('site/iiif-view-canvas-view', { manifest: manifest.omekaId, canvas: canvas.omekaId }, true) }}"
                               class="c-image__src">
                                <img src="{{ canvas.smallThumbnail }}" alt="{{ canvas.thumbnailAlt }}" height="400"/>
                            </a>
                        {% else %}
                            <div class="c-image__src">
                                <img src="{{ canvas.smallThumbnail }}" alt="{{ canvas.thumbnailAlt }}" height="400"/>
                            </div>
                        {% endif %}
                    </div>
                    {% if(canvas.omekaId) %}
                        <a href="{{ url('site/iiif-view-canvas-view', { manifest: manifest.omekaId, canvas: canvas.omekaId }, true) }}"
                        >
                            {{ canvas.label }}
                        </a>
                    {% else %}
                        <div >
                            {{ canvas.label }}
                        </div>
                    {% endif %}
                    <!--<p>
                        <a href="topic.html">[related topic1]</a>,
                        <a href="topic.html">[related topic2]</a>,
                        <a href="topic.html">[related topic3]
                        </a>
                    </p>-->
                    <p class="muted">
                        {# TO BE ADDED BY ELUCIDATE #}
                        {% if(manifest.totalViews) %}
                            ,{{ manifest.totalViews }} {{ translate('views') }}
                        {% endif %}

                        {% if(canvas.showStatistics) %}
                            {% if(annotationTotal) %}
                                ,{{ canvas.annotationTotal }} {{ translate('comments') }}
                            {% endif %}
                        {% endif %}
                    </p>
                </div>

            {% endfor %}


        </div>
    {% endif %}



