<h2 class="h3">{{ translate('Comments') }}</h2>
{% if(comments) %}
    {% for commentAnnotation in comments %}
        {% set comment = commentAnnotation.rawAnnotation %}

        <div class="c-comment">
            <div class="c-comment__date">
                {{ commentAnnotation.createdAt | date("d/m/Y") }} <br/>
                {{ commentAnnotation.createdAt | date("g:ia") }} <br/>
                {% if(commentAnnotation.id) %}
                    <a href="{{ url('site/elucidate_flagging', {}, { query: {
                        subject: commentAnnotation.id,
                        redirect: url(null, {}, {}, true)
                    } }, true) }}" target="_blank" class="link--plain">
                        <i class="fa fa-flag-o" aria-hidden="true"></i> {{ translate('report') }}
                    </a>
                {% endif %}
            </div>
            <div class="c-comment__body">
                <p class="c-comment__name">
                    {% if(commentAnnotation.creator.id) %}
                        <a href="{{ commentAnnotation.creator.id }}"> {{ commentAnnotation.creator.nickname ?? 'unknown user' }}</a>
                    {% else %}
                        {{ commentAnnotation.creator.nickname ?? 'unknown user' }}
                    {% endif %}
                    {{ translate('said') }}:
                </p>
                {{ commentAnnotation.body }}
            </div>
        </div>
    {% endfor %}
{% else %}
    <p class="muted">{{ translate('No comments yet.') }}</p>
{% endif %}

{% if (isLoggedIn and canvas.commentForm) %}
    {% include 'elucidate/comment/form' with {
        form: canvas.commentForm.withRedirect(url(null, {}, {}, true))
    } %}
    <br/>
    {% if codeOfConductLink %}
        <p>{{ translate('Please note, there\'s a') }} <a
                    href="{{ codeOfConductLink }}">{{ translate('Code of Conduct') }}</a></p>
    {% endif %}
{% else %}
    <p>Please login to post a comment</p>
{% endif %}
