<ul class="c-breadcrumbs">
    <li class="c-breadcrumbs__crumb">
        <a href="{{ site.url() }} ">{{ site.title() }}</a>
    </li>
</ul>
<div class="clouds">
{% for type in types %}
    <h2><a href="{{ url('site/elucidate_topic_types_view', {name: type.label}, true) }}">{{ type.label }}</h2>

    {% for topic in topicGroups[type.label] %}
        <a class="cloud" data-score="{{ topic.getScore() }}" href="{{ topic.uri }}">{{ topic.label }}</a>
    {% endfor %}
{% endfor %}
</div>
<style type="text/css">
    .clouds {
        display: block;
        flex: 1;
    }
    .cloud {
        display: inline-block;
        padding: 10px 20px;
        margin: 10px;
        font-size: 16px;
        background-color: #EEE;
        border-radius: 3px;
    }
    .cloud:hover {
        transition: all .2s;
        transform: scale(1.2);
        color: #000;
        background-color: cornflowerblue;
    }
    .cloud[data-score="0"] {
        opacity: 0.3;
        transform: scale(0.5);
    }
    .cloud[data-score="0"]:hover {
        opacity: 1.0;
        transform: scale(1);
    }
</style>
