<h1>{{ translate('Translations') }}</h1>

<h3>{{ translate('Global translations') }}</h3>
{% for group in groups %}
    <div class="sec">
        <h4>
            <a href="{{ url('i18n-admin-translate-view-group', { 'group-id': group.getId() }, {}, true) }}">
                {{ group.getLabel() }}
            </a>
        </h4>
        <div>
            {% for report in group.reportOptions() %}
                <a target="_blank" href="{{ report.getLink('Request for translation') }}">
                    {{ report.getLabel('Request translation') }}
                </a>
            {% endfor %}
        </div>
    </div>
{% endfor %}

<h3>Site specific translations</h3>
{% for group in siteGroups %}
    <div class="sec">
        <h4>
            <a href="{{ url('i18n-admin-translate-view-group', { 'group-id': group.getId() }, {}, true) }}">
                {{ group.getLabel() }}
            </a>
        </h4>
        <div>
            {% for report in group.reportOptions() %}
                <a target="_blank" href="{{ report.getLink('Request for translation') }}">
                    {{ report.getLabel('Request translation') }}
                </a>
            {% endfor %}
        </div>
    </div>
{% endfor %}

<style>
    header nav a[href="{{ url(null, {}, {}, true) }}"] {
        color: #fff;
    }

    div.sec {
        margin: 10px;
        border: 2px solid #eee;
        padding: 20px;
    }
</style>
