<h1>{{ group.getLabel() }}</h1>
<div id="page-actions">
    <a class="button" href="{{ url('i18n-admin-translate', {}, {}, true) }}">{{ translate('Back to all groups') }}</a>
    {% for report in group.reportOptions() %}
        <a class="button" target="_blank" href="{{ report.getLink('Request for translation') }}">
            {{ report.getLabel('Request translation') }}
        </a>
    {% endfor %}
</div>


<h4>{{ translate('Actions') }}</h4>

<ul>
    <li>
        <a href="{{ url('i18n-admin-translate-download-template', {}, {}, true) }}">{{ translate('Download template') }} (.pot)</a>
    </li>
    <li>
        {{ translate('View translatable strings') }}
    </li>
</ul>


{% set messages = group.getTemplate() %}
<table>
    <thead>
    <tr>
        <th>{{ translate('Key') }}</th>
        <th>{{ translate('Message') }}</th>
    </tr>
    </thead>
    {% for key, message in messages %}
        <tr>
            <td>
                {{ key }}
            </td>
            <td>
                {{ message }}
            </td>
        </tr>
    {% endfor %}
</table>
