<h1>{{ group.getLabel() }}</h1>
<style>
    .language {
        font-size: 12px;
        padding: 0 6px;
        margin-right: 6px;
        background-color: rgba(0, 0, 0, 0.04);
    }

    .hb, .hb-1 {
        padding: 5px 10px;
        list-style: none;
    }

    .hb:hover {
        background: #ddd;
    }
</style>
<div id="page-actions">
    <a class="button" href="{{ url('i18n-admin-translate', {}, {}, true) }}">Back to all groups</a>
    {% for report in group.reportOptions() %}
        <a class="button" target="_blank" href="{{ report.getLink('Request for translation') }}">
            {{ report.getLabel('Request translation') }}
        </a>
    {% endfor %}
</div>


<h4>Actions</h4>

<ul>
    <li>
        <a href="{{ url('i18n-admin-translate-download-template', {}, {}, true) }}">Download template (.pot)</a>
    </li>
    <li>
        View translatable strings
    </li>
</ul>


{% set messages = group.getTemplate() %}
<table>
    <thead>
    <tr>
        <th>Key</th>
        <th>Message</th>
    </tr>
    </thead>
    {% for key, message in messages %}
        <tr>
            <td>
                {{ key }}
            </td>
            <td>
                {{ message }}
            </td>
        </tr>
    {% endfor %}
</table>
