<ul class="c-breadcrumbs">
    {% if site.title() %}
        <li class="c-breadcrumbs__crumb">
            <a href="{{ site.url() }} ">{{ site.title() }}</a>
        </li>
    {% endif %}
        <li class="c-breadcrumbs__crumb">
            {{ translate('404 Page not found') }}
        </li>
</ul>

<h1 class="h1">{{ translate('404 Page not found') }}</h1>
{{ translate('Collection list does not exist yet.') }}
