{# Collection View Template

Variables:
    collection => IIIF\Model\Collection

Default Extensions:
    manifest.omekaId => string

Still to do:
    manifest.imagesAnnotated => int
    manifest.annotationCount => int
    manifest.imagesWaiting => int

#}
{% import 'iiif-view/helpers' as helpers %}

<ul class="c-breadcrumbs">
    {% if site.title() %}
        <li class="c-breadcrumbs__crumb">
            <a href="{{ site.url() }} ">{{ site.title() }}</a>
        </li>
    {% endif %}
    {% if collection %}
        <li class="c-breadcrumbs__crumb">
            <a href="{{ url('site/iiif-view-collection-view', { collection: collection.omekaId }, true) }}">{{ collection.getLabel() }}</a>
        </li>
    {% endif %}
    {% if manifest %}
        <li class="c-breadcrumbs__crumb">
            <a href="{{ url('site/iiif-view-manifest-view', { manifest: manifest.omekaId }, true) }}">{{ manifest.getLabel() }}</a>
        </li>
    {% endif %}
    {% if canvas %}
        <li class="c-breadcrumbs__crumb">
            {% if canvas.getLabel() %}
                {{ canvas.getLabel() }}
            {% else %}
                Image
            {% endif %}
        </li>
    {% endif %}
</ul>


<h2 class="h2">{{ collection.getLabel() }}</h2>
{% if (collection.getDescription()) %}
    <p>
        {{ collection.getDescription() }}
    </p>
{% endif %}

{% for manifest in collection.getManifests() %}

    <div class="c-collection">
        <h2 class="c-collection__title invisible-link">
            <a href="{{ url('site/iiif-view-manifest-view', { manifest: manifest.omekaId }, true) }}">
                {{ manifest.getLabel() }}</a>
        </h2>
        <div class="c-collection__cta">
            <a href="{{ url('site/iiif-view-manifest-view', { manifest: manifest.omekaId }, true) }}"
               class="c-button c-button--primary"
               aria-label="{{ manifest.getLabel() }}">
               {{ translate('View whole collection') }}
            </a>
        </div>

        {% if(manifest.imagesAnnotated or manifest.annotationCount or manifest.imagesWaiting) %}
            <div class="c-collection__statistics">
                <div class="c-statistics ">
                    {% if(manifest.imagesAnnotated) %}
                        <dl class="c-statistic c-statistic--sm c-statistic--inline">
                            <dt>{{ translate('Images annotated') }}</dt>
                            <dd>{{ manifest.imagesAnnotated }}</dd>
                        </dl>
                    {% endif %}
                    {% if(manifest.annotationCount) %}
                        <dl class="c-statistic c-statistic--sm c-statistic--inline">
                            <dt>{{ translate('Annotations') }}</dt>
                            <dd>{{ manifest.annotationCount }}</dd>
                        </dl>
                    {% endif %}
                    {% if(manifest.imagesWaiting) %}
                        <dl class="c-statistic c-statistic--sm c-statistic--inline">
                            <dt>{{ translate('Images waiting') }}</dt>
                            <dd>{{ manifest.imagesWaiting }}</dd>
                        </dl>
                    {% endif %}
                </div>
            </div>
        {% endif %}
        <div class="c-collection__images">
            <div class="c-carousel c-carousel--sm c-carousel--has-next">
                <div class="c-carousel__content">
                    {% for key, image in manifest.getThumbnails() | slice(0, 10) %}
                        <div class="c-image c-image--sm">
                            <a href="{{ url('site/iiif-view-manifest-view', { manifest: manifest.omekaId }, {query: { c: key }}, true) }}" title="link to image">
                                <div class="c-image__src">
                                    <img src="{{ image }}" height="150" alt="Image thumbnail"/>
                                </div>
                            </a>
                        </div>
                    {% endfor %}
                </div>
                <div class="c-carousel__next">
                    <a href="{{ url('site/iiif-view-manifest-view', { manifest: manifest.omekaId }, true) }}"
                       class="c-carousel__nav"
                       aria-label="{{ manifest.label() }}" title="{{ manifest.label() }}">
                        <div class="c-carousel__nav-text" title="Open collection" aria-label="Open collection">
                            <span class="fa fa-chevron-right" aria-hidden="true"></span>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
{% endfor %}


