{% do headLink().prependStylesheet(assetUrl('css/iiif-storage.css', 'IIIFStorage')) %}

{% include 'iiif-view/partials/breadcrumbs' %}

{% set title = 'All Collections' %}
{% include 'iiif-storage/partials/title.twig' %}

{% for collectionRepresentation in collections %}
    {% set collection = collectionRepresentation.collection() %}
    <h3>
        <a href="{{ router.collection(collection) }}">
            {{ collection.getLabel() }}
        </a>
    </h3>
    <div class="iiif-view-manifest-grid">
        {% for manifest in collection.getManifests() %}
            <div class="iiif-view-manifest-grid__manifest">
                <a class="iiif-view-playlist-grid"
                   style="background-image: url('{{ manifest.getThumbnail() }}');background-size: cover;background-position: center;"
                   href="{{ router.manifest(manifest, collection) }}">
                </a>
                <p>
                    <a class="iiif-view-manifest-grid__manifest-label"
                       href="{{ router.manifest(manifest, collection) }}">
                        {{ manifest.getLabel() }}
                    </a>
                </p>
            </div>
        {% endfor %}
    </div>
{% endfor %}
