{% do headLink().prependStylesheet(assetUrl('css/iiif-storage.css', 'IIIFStorage')) %}
{% do headLink().prependStylesheet(assetUrl('css/breadcrumbs.css', 'IIIFStorage')) %}

{% include 'iiif-storage/partials/breadcrumbs.twig' %}

{% set title = collection.label %}
{% include 'iiif-storage/partials/title.twig' %}

{% include 'iiif-storage/partials/pagination.twig' %}

{% if (collection.description) %}
    <p>
        {{ collection.description }}
    </p>
{% endif %}

{% if not manifests %}
    {% set manifests = collection.getManifests() %}
{% endif %}
<div class="iiif-view-manifest-grid">
    {% for manifest in manifests %}
        <div class="iiif-view-manifest-grid__manifest">
            <a class="iiif-view-playlist-grid"
               style="background-image: url('{{ manifest.getThumbnails()[0] }}');background-size: cover;background-position: top;"
               href="{{ router.manifest(manifest, collection) }}">
            </a>
            <p>
                <a class="iiif-view-manifest-grid__manifest-label" href="{{ router.manifest(manifest, collection) }}">
                    {{ manifest.getLabel() }}
                </a>
                {# Getting the number of canvases causes the whole manifest to be loaded, so only do this if there are a couple of manifests. #}
                {% if manifests|length < 10 %}
                    {{ manifest.getCanvases() |length }} images
                {% endif %}
            </p>
        </div>
    {% endfor %}
</div>

{% include 'iiif-storage/partials/pagination.twig' %}
