<h2 class="h2">
    {{ tanslate('Activity for %s') | format(userDetails.name) }}
</h2>

{% if annotationsSortable.groupByCanvas().orderByLabel().get() %}
    <div class="c-dig-grid">
        {% set canvasList = annotationsSortable.groupByCanvas().get() %}
        {% for canvas in canvasList %}

            <div class="c-dig-grid__col--2">
                <a href="{{ canvas.canvasSource.omekaUri }}">
                    <img src="{{ canvas.thumbnail.full }}" height="150">
                </a>
                <p>
                    <a class="muted" href="{{ canvas.canvasSource.omekaUri }}">{{ canvas.canvasSource.label }}</a>
                </p>
            </div>
            <div class="c-dig-grid__col--10">
                {% for annotation in annotationsSortable.onlyCanvas(canvas.canvasSource.omekaUri).get() %}
                    <div class="c-dig-grid">
                        <div class="c-dig-grid__col--2">
                            {{ annotation.timeAgo }}
                        </div>
                        <div class="c-dig-grid__col--10">
                            {# @todo motiviation to be added #}
                            {% if(annotation.label or canvas.label) %}
                                {{ translate('Added an annotation (%s) to') | format(annotation.motivation) }}
                                <a href="{{ canvas.canvasSource.omekaUri }}">
                                    {{ annotation.label ?? canvas.label }}
                                </a>
                            {% else %}
                                {{ translate('Added an annotation (%s)') | format(annotation.motivation) }}
                            {% endif %}
                        </div>
                    </div>
                {% endfor %}

            </div>
        {% endfor %}
    </div>
{% endif %}
