{% macro canvas_thumbnail(manifest, image, active = false) %}
    <div class="c-image c-image--sm {{ active ? 'c-carousel--active' : '' }}">
       
        <a href="{{ url('site/iiif-view-canvas-view', { manifest: manifest.omekaId, canvas: image.omekaId }, true) }}">
            <div class="c-image__src ">
                <img src="{{ image.getThumbnail() }}" height="150" alt="Image thumbnail"/>
                {% import _self as helpers %}
                {{  helpers.completion_status(image) }}
            </div>
        </a>
    </div>
{% endmacro %}

{% macro completion_status(image) %}

    {% if image.complete %}
        {% set statusClass = 'complete' %}
        {% set statusTitle = translate('Editing complete') %}
    {% elseif image.edited %}
        {% set statusClass = 'started' %}
        {% set statusTitle = translate('Editing started') %}
    {% else %}
        {% set statusClass = 'not-started' %}
        {% set statusTitle = translate('Editing not started') %}
    {% endif %}

    
    <div class="c-image__status c-image__status--{{ statusClass }}" title="{{ statusTitle }}"></div>
{% endmacro %}
