{% do headLink().prependStylesheet(assetUrl('css/breadcrumbs.css', 'IIIFStorage')) %}
<ul class="c-breadcrumbs">
    {% if site.title() %}
        <li class="c-breadcrumbs__crumb">
            <a href="{{ site.url() }} ">{{ site.title() }}</a>
        </li>
    {% endif %}
    <li class="c-breadcrumbs__crumb">
        <a href="{{ router.siteCollection() }}">{{  translate('All collections') }}</a>
    </li>
    {% if collection %}
        <li class="c-breadcrumbs__crumb">
            <a href="{{ router.collection(collection) }}">{{ pageTitle(collection.getLabel(), 0) }}</a>
        </li>
    {% endif %}
    {% if manifest %}
        <li class="c-breadcrumbs__crumb">
            <a href="{{ router.manifest(manifest, collection) }}">{{ pageTitle(manifest.getLabel(), 0) }}</a>
        </li>
    {% endif %}
    {% if canvas %}
        <li class="c-breadcrumbs__crumb">
            <a href="{{ router.canvas(canvas, manifest, collection) }}">
                {% if canvas.getLabel() %}
                    {{ pageTitle(canvas.getLabel(), 0) }}
                {% else %}
                    {{ translate('Image') }}
                {% endif %}
            </a>
        </li>
    {% endif %}
</ul>
