{% if (isLoggedIn and siteSetting('cs-mark-as-complete', true)) %}
    <li>
        {% if (pageMarkedAsComplete == false) %}
            {% do headScript().prependFile(assetUrl('js/mark-as-complete.js', 'IIIFStorage')) %}
            {% do headLink().prependStylesheet(assetUrl('css/modal.css', 'IIIFStorage')) %}

            <a data-mark-as-complete="mark-as-complete" href="#mark-as-complete" class="c-action"
               aria-label="{{ translate('Mark as complete') }}">
                <span class="fa fa-check" aria-hidden="true"></span>
                {{ translate('Mark as complete') }}
            </a>

            <div id="mark-as-complete">
                {% if (pageMarkedAsComplete) %}
                    <h2 class="h3">{{ translate('Is this page complete?') }}</h2>
                    <p>
                        {{ translate('This page has been marked as completed.<br/>
                        You can mark as incomplete if it needs more work.') }}
                    </p>
                {% else %}
                    <h2 class="h3">{{ translate('Is this page complete?') }}</h2>
                    <p>
                        {{ translate('Marking this page as complete helps us to understand the progress of annotations.') }}
                    </p>
                {% endif %}
                {% if (completionForm) %}
                    <div class="c-button c-button--primary">
                        {% include 'elucidate/completion/form' with { form: completionForm.withRedirect(router.canvas(canvas, manifest, collection)) } %}
                    </div>
                {% endif %}
            </div>
        {% else %}
            {{ translate('Page marked as complete') }}
        {% endif %}
    </li>
{% endif %}
