<div>{{ translate('Job has started with ID') }}: {{ jobId }}</div>

<div>{{ translate('View details at') }} <a href="/admin/job/{{ jobId }}">Job {{ jobId }}</a> </div>

<div>{{ translate('View Log at') }} <a href="/admin/job/{{ jobId }}/log">Job {{ jobId }}</a></div>
