<div>Job has started with ID: {{ jobId }}</div>

<div>View details at <a href="/admin/job/{{ jobId }}">Job {{ jobId }}</a> </div>

<div>View Log at <a href="/admin/job/{{ jobId }}/log">Job {{ jobId }}</a></div>