{# Manifest View Template

Variables:
    manifest - IIIF\Model\Manifest

Default Extensions:
    manifest.omekaId
    canvas.smallThumbnail
    canvas.omekaId

Plugbable Extensions:
    canvas.thumbnailAlt - string

Still to add:
    canvas.totalAnnotations - int
    canvas.flagActionEndpoint - string
#}

{% import 'iiif-view/helpers' as helpers %}

<ul class="c-breadcrumbs">
    {% if site.title() %}
        <li class="c-breadcrumbs__crumb">
            <a href="{{ site.url() }} ">{{ site.title() }}</a>
        </li>
    {% endif %}
    {% if collection %}
        <li class="c-breadcrumbs__crumb">
            <a href="{{ url('site/iiif-view-collection-view', { collection: collection.omekaId }, true) }}">{{ pageTitle(collection.getLabel(), 0) }}</a>
        </li>
    {% endif %}
    {% if manifest %}
        <li class="c-breadcrumbs__crumb">
            <a href="{{ url('site/iiif-view-manifest-view', { manifest: manifest.omekaId }, true) }}">{{ pageTitle(manifest.getLabel(), 0) }}</a>
        </li>
    {% endif %}
    {% if canvas %}
        <li class="c-breadcrumbs__crumb">
            {% if canvas.getLabel() %}
                {{ pageTitle(canvas.getLabel(), 0) }}
            {% else %}
                {{ translate('Image') }}
            {% endif %}
        </li>
    {% endif %}
</ul>

<h1 class="h1">{{ manifest.getLabel() }}</h1>

<div class="c-dig-image-grid  c-dig-image-grid--md-sq">
    {% for canvas in canvases %}
        <div class="c-image c-image--md-sq">
            {% if(canvas.omekaId) %}
                <a href="{{ url('site/iiif-view-canvas-view', { manifest: manifest.omekaId, canvas: canvas.omekaId }, true) }}"
                   class="c-image__src">
                    <img src="{{ canvas.smallThumbnail }}" alt="{% if(canvas.thumbnailAlt) %}{{ canvas.thumbnailAlt }}{% else %}Thumbnail image{% endif %}"/>

                    {{  helpers.completion_status(canvas) }}
                </a>
            {% else %}
                <div class="c-image__src">
                    <img src="{{ canvas.smallThumbnail }}" alt="{% if(canvas.thumbnailAlt) %}{{ canvas.thumbnailAlt }}{% else %}Thumbnail image{% endif %}"/>

                    {{  helpers.completion_status(canvas) }}
                </div>
            {% endif %}
            {% if(canvas.totalAnnotations or canvas.flagActionEndpoint) %}
                <div class="c-image__actions">
                    {% if(canvas.totalAnnotations) %}
                        <div class="c-image__statistics">
                            <div class="c-statistics  ">
                                <dl class="c-statistic  c-statistic--inline">
                                    <dt>{{  translate('Annotations') }}</dt>
                                    <dd>{{ canvas.totalAnnotations }}</dd>
                                </dl>
                            </div>
                        </div>
                    {% endif %}
                    {% if(canvas.flagActionEndpoint) %}
                        <div class="c-image__flag">
                            <div class="c-action c-flagged">
                                <a href="{{ canvas.flagActionEndpoint }}" class="link--plain">
                                    <span class="fa fa-flag-o" aria-hidden="true"></span> {{ translate('Flag') }}
                                </a>
                            </div>
                        </div>
                    {% endif %}
                </div>
            {% endif %}
        </div>
    {% endfor %}
</div>









